@import url('fonts.css');

.split-view-view {
  display: flex;
}

.rc-tree-title {
  font-family: 'Fira Code', monospace;
  font-size: 0.85em;
  padding-left: 4px;
}

span.rc-tree-icon__customize {
  text-align: center;
  background-image: none;
}

div.container-node svg {
  height: 20px;
  width: 24px;
  color: rgb(0, 90, 175);
}

span.rc-tree-checkbox.rc-tree-checkbox-disabled {
  /* display: none !important; */
}

.rc-tree .rc-tree-treenode {
  display: flex;
  align-items: center;
  justify-content: start;
}

.rc-tree-node-content-wrapper {
  overflow: none;
}

.rc-tree-iconEle {
  min-width: 24px;
}
